[Desktop Entry]
Type=Application
Name=Master PDF Editor
GenericName=PDF Editor
Comment=Edit your PDF and XPS files
Exec=masterpdfeditor4wrapper %f
Icon=net.code_industry.MasterPDFEditor4
Categories=Office;Publishing;
MimeType=application/pdf
